html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: #000000;
}

body a {
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    list-style-type: none;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style: none;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

.container {
    margin: 0 auto;
    /* padding: 0 30px; */
    max-width: 1180px;
}

.nav__list {
    background-color: #FFD704;
    height: 60px;
}

.nav__inner {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adress__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #222222;
}

.adress__link-icon {
    margin-right: 10px;
}

.nav__list-menu {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list-item {
    padding: 12px 25px;
}

.nav__list-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.phone__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #000000;
}

.phone__link-span {
    font-weight: 600;
}

.phone__link-icon__phone {
    margin-right: 10px;
}

.nav__tools {
    padding: 20px 0;
}

.nav__bar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__all-catalog {
    border: none;
    outline: none;
    padding: 12px 48px;
    background-color: #FFD704;
    border-radius: 8px;
    cursor: pointer;
}

.nav__form {
    width: 56%;
    position: relative;
}

.nav__input {
    width: 100%;
    /* height: 30px; */
    background: #FFFFFF;
    border: 1px solid #FFD704;
    border-radius: 8px;
    outline: none;
    padding: 12px 22px;
}

.nav__input::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #707070;
}

.nav__inp-btn {
    position: absolute;
    padding: 13px 13px;
    background-color: #FFD704;
    outline: none;
    border: none;
    border-radius: 8px;
    right: 0;
}

.nav__user {
    width: 10%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__user-icon {
    font-size: 22px;
    color: #FFFFFF;
}

.for__brf {
    position: relative;
}

.shop__before {
    font-family: 'Montserrat', sans-serif;
    background-color: #FF2727;
    position: absolute;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    padding: 1px 7px;
    border-radius: 50%;
    right: -11px;
    top: -4px;
}


/* slider */

.mySwiper {
    position: relative;
}

.swiper__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 427px;
}

.slide__item-txt {
    width: 38%;
    padding: 44px 105px;
    background-color: #222222;
    border-radius: 15px 0px 0px 15px;
}

.slide__item-txt::after {
    content: "";
    position: absolute;
    background-image: url(../images/after-img.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 31px;
    top: 56px;
    width: 55px;
    height: 70px;
}


}
.slide__item-liner {
    width: 2%;
}
.slide__item-img {
    width: 60%;
}
.slide__item-title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.slide__item-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 129.2%;
    letter-spacing: 0.015em;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.slide__item-btn {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #222222;
    padding: 15px 71px 15px 21px;
    background-color: #FFD704;
    border-radius: 8px;
    border: none;
    outline: none;
    position: relative;
}
.slide__item-btn__icon {
    position: absolute;
    right: 16px;
    top: 11px;
    font-size: 30px;
}
.slide__item-liner {
    width: 20px;
    height: 413px;
    background: linear-gradient(180deg, #FFD704 0%, #FF2727 100%);
    /* border-radius: 15px 0px 0px 15px; */
}
.slide__item-img {
    height: 413px;
    background-image: url(../images/sliders.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 15px 15px 0px;
}
.swiper-pointer-events {
    touch-action: pan-y;
    height: 455px;
}
.swiper-pagination-bullet {
    background-color: #CDCDCD;
}
.swiper-pagination-bullet-active {
    background-color: #FF2727;
}
.swiper-button-next {
    position: absolute;
    background-color: #E4E4E4;
    width: 43px;
    height: 43px;
    border-radius: 50%;
}
.swiper-button-next::after {
    font-size: 22px;
    color: #3D3D3D;
}
.swiper-button-prev {
    position: absolute;
    background-color: #E4E4E4;
    width: 43px;
    height: 43px;
    border-radius: 50%;
}
.swiper-button-prev::after {
    font-size: 22px;
    color: #3D3D3D;
}

/* slider */