html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: #ffff;
}

body a {
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    list-style-type: none;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style: none;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1180px;
}

.nav__inner {
    height: 155px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__menu-item {
    padding: 12px 40px;
}

.nav__menu-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #252B42;
    transition: all .3s ease;
}

.nav__menu-link:hover {
    color: #FA4A0C;
}

.header__container {
    height: 619px;
    background-image: url(../images/header-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__container-txt {
    /* width: 100%; */
    /* margin: 0 auto; */
    padding-top: 73px;
    text-align: center;
}

.header__container-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.1px;
    color: #F7F7F7;
    margin-bottom: 18px;
}

.header__container-text {
    font-family: 'Buenard', serif;
    font-weight: bold;
    font-size: 58px;
    line-height: 80px;
    /* or 138% */
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-bottom: 27px;
}

.header__container-app {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    /* identical to box height, or 158% */
    text-align: center;
    letter-spacing: 0.2px;
    color: #F7F7F7;
    margin-bottom: 55px;
}

.get__app {
    width: 40%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button {
    border: none;
    outline: none !important;
}

.get__app-link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */
    letter-spacing: 0.1px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 35px;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid #F7F7F7 !important;
    transition: all .3s ease;
}

.get__app-link:hover {
    background-color: #FA4A0C;
    box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
    border-radius: 30px;
    border: 1px solid #FA4A0C !important;
}

.sec-1 {
    height: 576px;
}

.app__phone {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    position: relative;
}

.app__phone::after {
    content: "";
    position: absolute;
    width: 800px;
    height: 2px;
    background-color: #E4E4E4;
    left: -100px;
    top: 512px;
}

.ph-1 {
    left: -98px;
    top: -296px;
    position: absolute;
}

.ph-2 {
    right: 0px;
    top: -82px;
    position: absolute;
}

.app__works {
    font-family: Poppins;
    font-weight: 600;
    font-size: 44px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #000000;
    opacity: 0.8;
    text-align: center;
    margin-bottom: 65px;
}

.work__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work__item-img {
    width: 45%;
}

.work__item-txt {
    width: 60%;
}

.work__item-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FA4A0C;
    margin-bottom: 17px;
}

.work__item-title-2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-bottom: 27px;
}

.work__item-text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
}

.item-img {
    display: block;
    /* width: 100%; */
    margin-top: -185px;
}

.sec-3 {
    height: 516px;
    background-image: url(../images/sec-3.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

.social {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

.footer__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    text-align: right;
    letter-spacing: 0.1px;
    /* second text */
    color: #5C5C5C;
}